---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting"
const title = "Home"
---

<BaseLayout title={title}>
  <Greeting client:load messages={["Hi", "Hello", "How far", "You okay?", "Hey!"]} />
  <h2>Can't wait to show you new things!</h2>
</BaseLayout>
